In [1]:
import pandas as pd
review=pd.read_csv('Hotel_Reviews.csv')
review.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [31]:
s=[]
for i in review['Average_Score']:
    if i>=1 and i<=3:
        s.append('Bad')
    elif i>=4 and i<=6:
        s.append('Average')
    elif i>7 and i<=8:
        s.append('good')
    else:
        s.append('excellent')

In [32]:
review['Hotel_Rating']=s

In [33]:
review['Hotel_Rating'].unique()

array(['good', 'excellent', 'Average'], dtype=object)

In [34]:
review['city'] = review.Hotel_Address.apply(lambda x: x.split(' ')[-2])
review['country'] = review.Hotel_Address.apply(lambda x: x.split(' ')[-1])

In [35]:
neg_rev= review['Negative_Review']
pos_rev = review['Positive_Review']

In [36]:
leisure = review['Tags'].str.contains(' Leisure trip ')
business = review['Tags'].str.contains(' Business trip ')

In [37]:
data = pd.DataFrame({'Combined_Review': neg_rev + pos_rev, 'Trip_Type': leisure})
data.replace({True: 'Leisure', False: 'Business'}, inplace = True)
data[20:30]

                                      Combined_Review Trip_Type
20   Bed was on upper level with a narrow twist st...   Leisure
21   Our room was an overrated disaster room 231 d...  Business
22   Sadly I cannot say that the rooms are clean e...   Leisure
23   Transportation was a bit of a pain but on rou...   Leisure
24   Nothing  Lovely hotel with extremely comforta...   Leisure
25   The bathroom in our room was a black glass bo...   Leisure
26   Nothing at all to do with the Hotel of course...   Leisure
27   Careful they are still renovating the buildin...  Business
28   We had 2 different rooms here and both were d...   Leisure
29   There is an ongoing construction enlarging th...   Leisure

In [38]:
a=pd.concat([review,data],axis=1)
a.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,...,Reviewer_Score,Tags,days_since_review,lat,lng,city,country,Hotel_Rating,Combined_Review,Trip_Type
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,...,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Netherlands,good,I am so angry that i made this post available...,Leisure
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,...,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Amsterdam,Netherlands,good,No Negative No real complaints the hotel was g...,Leisure
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,...,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Amsterdam,Netherlands,good,Rooms are nice but for elderly a bit difficul...,Leisure
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,...,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Amsterdam,Netherlands,good,My room was dirty and I was afraid to walk ba...,Leisure
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,...,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Amsterdam,Netherlands,good,You When I booked with your company on line y...,Leisure

In [40]:
import nltk
import re
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
a=a[a['Hotel_Name'].notna()]
a['aggregated_text']=a['city'].str.lower()+a['Trip_Type'].str.lower()+a['Hotel_Rating'].str.lower()
corpus=list(a['aggregated_text'].str.split())
stopwords_list=set(stopwords.words("english"))
index=list(range(0,len(corpus)))
clean_corpus=[]

for sentence in corpus:
    s=[]
    for word in sentence:
        clean_word=re.sub(r'[^\w\s]','', word)
        if clean_word not in stopwords_list:
            s.append(clean_word)
        clean_corpus.append(" ".join(s))

In [42]:
tfidf_vectorizer = TfidfVectorizer().fit_transform(clean_corpus)

In [55]:
def get_recommendation(show_list, vectorizer):

    Hotel_Name, scores, city = [], [], []
    for show_name in show_list:
        show_index = a[a['Hotel_Name'] == show_name].index[0]
        cosine_similarities = linear_kernel(vectorizer[show_index], vectorizer).flatten()
        similar_show_index = cosine_similarities.argsort()[1:]
        Hotel_Name += [a['Hotel_Name'][i] for i in similar_show_index]
        city += [a['city'][i] for i in similar_show_index]
        scores += list(cosine_similarities[similar_show_index])

    df = pd.DataFrame(data = {'Hotel_Name': Hotel_Name, 
                                 'city': city,'Cosine_similarity': scores})

    df = df[~df['Hotel_Name'].isin(show_list)].sort_values('Cosine_similarity', ascending = False)
    df['Hotel_Name'] = df['Hotel_Name'].drop_duplicates()
    top_five_list = df[df['Hotel_Name'].notna()].iloc[0:5, :]
    
    return top_five_list

In [56]:
Hotel_name = ['Hotel Arena']
get_recommendation(Hotel_name, tfidf_vectorizer)

,Hotel_Name,city,Cosine_similarity
515735,Park Plaza Victoria Amsterdam,Amsterdam,1.0
509380,NH Amsterdam Centre,Amsterdam,1.0
509772,Park Plaza Vondelpark Amsterdam,Amsterdam,1.0
509455,Hampshire Hotel Rembrandt Square Amsterdam,Amsterdam,1.0
509231,Best Western Delphi Hotel,Amsterdam,1.0

In [59]:
def get_recommendation(show_list, vectorizer):

    Hotel_Name, scores, city = [], [], []
    for show_name in show_list:
        show_index = a[a['Hotel_Name'] == show_name].index[0]
        cosine_similarities = linear_kernel(vectorizer[show_index], vectorizer).flatten()
        similar_show_index = cosine_similarities.argsort()[1:]
        Hotel_Name += [a['Hotel_Name'][i] for i in similar_show_index]
        city += [a['city'][i] for i in similar_show_index]
        scores += list(cosine_similarities[similar_show_index])

    df = pd.DataFrame(data = {'Hotel_Name': Hotel_Name, 
                                 'city': city,'Cosine_similarity': scores})

    df = df[~df['Hotel_Name'].isin(show_list)].sort_values(by=scores, ascending = False)
    df['Hotel_Name'] = df['Hotel_Name'].drop_duplicates()
    top_five_list = df[df['Hotel_Name'].notna()].iloc[0:5, :]
    
    return top_five_list